<div class="card" style="width: 18rem;">
    <div class="card-body">

        <h5 class="card-title">Tek Mi Çift mi Uygulaması</h5>

        <h6 class="card-subtitle mb-2 text-muted">
        </h6>

        <p class="Burası paragraf"</p>


  @using (Html.BeginForm("Hesapla", "Home", FormMethod.Post))
{
    <p>
        <label for="girdi">Bir sayı girin:</label>
        <input type="text" name="girdi" id="girdi" />
    </p>
    <p>
        <input type="submit" value="Hesapla" />
    </p>
}