@model List<int>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Pricing</a>
                    <a class="nav-link disabled">Disabled</a>
                </div>
            </div>
        </div>
    </nav>

    @{
        //List<int> sayilar = new List<int>() { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
        bool asalMi = true;

        <h1>ÇİFT SAYILAR</h1>
        <ul class="list-group">
            @foreach (var sayi in Model)
            {
                if (sayi % 2 == 0) // çift sayılar
                {
                    <li class="list-group-item bg-info">@sayi</li>
                }
            }
        </ul>

       



        <h1>TEK SAYILAR</h1>
        <ul class="list-group">
            @foreach (var sayi in Model)
            {
                if (sayi % 2 != 0) 
                {
                    <li class="list-group-item bg-secondary">@sayi</li>
                }
            }
        </ul>



        <h1>ASAL SAYILAR</h1>
        <ul class="list-group">
            @foreach (var sayi in Model)
            {
                asalMi = true;

                 for (int i = 2; i <= sayi / 2; i++)
                 {
                     if (sayi % i == 0)
                     {
                        asalMi = false;
                     }
                 }
                if (asalMi && sayi != 1)
                {
                    <li class="list-group-item bg-warning">@sayi</li>
                }
            }
        </ul>
    }

</body>
</html>