@model List<string>

@{
    <table class="table table-dark">
                <thead>
                <h1>Hüseyin Tok</h1>
                    <tr>
                        <th>Model</th>
                        <th>Marka</th>
                    </tr>

                </thead>
                <tbody>
                    <tr class="table-active"> ... </tr>
                    <tr>
                    </tr>

                    

                        @for (int i=0; i<4;i+=2)
                        {
                            <tr>
                            <td> 
                                 @Model[i]
                            </td>
                            <td>
                                 @Model[i+1]
                            </td>
                            </tr>                            
                        }

                   
                </tbody>
    </table>


}
